<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Variable</th>
      <th scope="col">Pipe</th>
      <th scope="col">Resultado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{nombre}}</td>
      <td>Uppercase</td>
      <td>{{nombre | uppercase}}</td>
    </tr>
    <tr>
      <td>{{nombre}}</td>
      <td>Lowercase</td>
      <td>{{nombre | lowercase}}</td>
    </tr>
    <tr>
      <td>{{nombre}}</td>
      <td>Slice</td>
      <td>{{nombre | slice:0:2}}</td>
    </tr>
    <tr>
      <td>{{arrayNumber}}</td>
      <td>Slice</td>
      <td>{{arrayNumber | slice:1:7}}</td>
    </tr>
    <tr>
      <td>{{arrayNumber}}</td>
      <td>SlicePipe</td>
      <td>{{arrayNumber | slice:1:7}}</td>
    </tr>
    <tr>
      <td>{{number}}</td>
      <td>DecimalPipe</td>
      <td>{{number | number}}</td>
    </tr>
    <tr>
      <td>{{number}}</td>
      <td>DecimalPipe</td>
      <td>{{number | number:'3.0-0'}}</td>
    </tr>
    <tr>
      <td>{{number}}</td>
      <td>DecimalPipe</td>
      <td>{{number | number:'1.0-2'}}</td>
    </tr>
    <tr>
      <td>{{salary}}</td>
      <td>CurrencyPipe</td>
      <td>{{salary | currency}}</td>
    </tr>
    <tr>
      <td>{{salary}}</td>
      <td>CurrencyPipe</td>
      <td>{{salary | currency}}</td>
    </tr>
    <tr>
      <td>{{salary}}</td>
      <td>CurrencyPipe:'EUR'</td>
      <td>{{salary | currency:'EUR'}}</td>
    </tr>
    <tr>
      <td>{{salary}}</td>
      <td>CurrencyPipe:'EUR':false</td>
      <td>{{salary | currency:'EUR':false}}</td>
    </tr>
    <tr>
      <td>{{salary}}</td>
      <td>CurrencyPipe:'EUR':false</td>
      <td>{{salary | currency:'EUR':false}}</td>
    </tr>
    <tr>
      <td>{{salary}}</td>
      <td>CurrencyPipe</td>
      <td>{{salary | number:'.2-2'}}</td>
    </tr>
    <tr>
      <td>{{percent}}</td>
      <td>PercentPipe</td>
      <td>{{percent | percent}}</td>
    </tr>
    <tr>
      <td>{{percent}}</td>
      <td>PercentPipe:'2.2-2'</td>
      <td>{{percent | percent:'2.2-2'}}</td>
    </tr>
    <tr>
      <td>{{promise}}</td>
      <td>PipeAsync'</td>
      <td>{{promise | async}}</td>
    </tr>
    <tr>
      <td>{{date}}</td>
      <td>PipeDate'</td>
      <td>{{date | date}}</td>
    </tr>
    <tr>
      <td>{{date}}</td>
      <td>PipeDate'</td>
      <td>{{date | date:'medium'}}</td>
    </tr>
    <tr>
      <td>{{capitalize}}</td>
      <td>PipeCapitalizado'</td>
      <td>{{capitalize | capitalizado}}</td>
    </tr>
    <tr>
      <td>{{name}}</td>
      <td>
        <button (click)="visible = !visible" class="btn btn-primary">
          Mostrar/Ocultar
        </button>
      </td>
      <td>{{name | asterisk:visible}}</td>
    </tr>
  </tbody>
</table>
<ul>
  <li *ngFor="let item of arrayNumber | slice:0:5">{{item}}</li>
</ul>
<br>
<h4>Dom secure</h4>
<iframe width="560" height="315" [src]="video | secureDom:'https://www.youtube.com/embed/'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
